{{#each plans itemController="plan"}}
  <div class="col-md-4 plan">
    <div {{bind-attr class=":content content.featured:featured"}}>
      <div class="plan-header">
        <h2>
          {{content.title}}<br />
          <small>{{content.tagline}}</small>
        </h2>
        <span class="price">{{#if content.price}}${{content.price}}/month{{else}}FREE{{/if}}</span>
      </div>
      <div class="plan-features">
        <ul>
        {{#each content.features}}
          <li>{{this}}</li>
        {{/each}}
        </ul>
      </div>
        
      {{#if selected}}
        <div class="btn selected-badge">Selected</div>
      {{else}}
        <label class="btn choose-plan">{{view "radio-button" name=radioID selectionBinding="selectedPlan" value=content.title}}Select Plan</label>
      {{/if}}
    </div>
  </div>
{{/each}}
