{{#each plan in plans}}
  <div class="col-md-4 plan">
    <div {{bind-attr class=":content plan.featured:featured"}}>
      <div class="plan-header">
        <h2>
          {{plan.title}}<br />
          <small>{{plan.tagline}}</small>
        </h2>
        <span class="price">{{#if plan.price}}${{plan.price}}/month{{else}}FREE{{/if}}</span>
      </div>
      <div class="plan-features">
        <ul>
        {{#each plan.features}}
          <li>{{this}}</li>
        {{/each}}
        </ul>
      </div>
        
      {{#if plan.selected}}
        <div class="btn selected-badge">Selected</div>
      {{else}}
        <label class="btn choose-plan">{{view "radio-button" name="planSelection" selectionBinding="selectedPlan" value=plan.title}}Select Plan</label>
      {{/if}}
    </div>
  </div>
{{/each}}