<div class="col-md-4 plan">
  <div class="content">
    <div class="plan-header">
      <h2>
        Developer<br />
        <small>Great for testing</small>
      </h2>
      <span class="price">{{#if prices.levelone}}${{prices.levelone}}/month{{else}}FREE{{/if}}</span>
    </div>
    <div class="plan-features">
      <ul>
        <li>5,000 Requests</li>
        <li>API/Plugin Access</li>
      </ul>
    </div>
      
    {{#if selected.levelone}}
      <div class="btn selected-badge">Selected</div>
    {{else}}
      <label class="btn choose-plan">{{view "radio-button" name="planSelection" selectionBinding="plan" value="1"}}Select Plan</label>
    {{/if}}
  </div>
</div>
<div class="col-md-4 plan">
  <div class="content">
    <div class="plan-header">
      <h2>
        Startup<br />
        <small>Most Popular</small>
      </h2>
      <span class="price">{{#if prices.leveltwo}}${{prices.leveltwo}}/month{{else}}FREE{{/if}}</span>
    </div>

    <div class="plan-features">
      <ul>
        <li>15,000 Requests</li>
        <li>API/Plugin Access</li>
        <li>Premium Support (Chat, Email)</li>
      </ul>
    </div>

    {{#if selected.leveltwo}}
      <div class="btn selected-badge">Selected</div>
    {{else}}
      <label class="btn choose-plan">{{view "radio-button" name="planSelection" selectionBinding="plan" value="2"}}Select Plan</label>
    {{/if}}
  </div>
</div>
<div class="col-md-4 plan">
  <div class="content">
    <div class="plan-header">
      <h2>
        Enterprise<br />
        <small>Secure your business</small>
      </h2>
      <span class="price">{{#if prices.levelthree}}${{prices.levelthree}}/month{{else}}FREE{{/if}}</span>
    </div>
    <div class="plan-features">
      <ul>
        <li>30,000 Requests</li>
        <li>API/Plugin Access</li>
        <li>Business Support (Chat, Email, Phone)</li>
      </ul>
    </div>

    {{#if selected.levelthree}}
      <div class="btn selected-badge">Selected</div>
    {{else}}
      <label class="btn choose-plan">{{view "radio-button" name="planSelection" selectionBinding="plan" value="3"}}Select Plan</label>
    {{/if}}
  </div>
</div>