<div {{bind-attr class=":progress-bar type striped:progress-bar-striped active"}} role="progressbar" {{bind-attr aria-valuenow=value}} {{bind-attr aria-valuemin=min}} {{bind-attr aria-valuemax=max}} {{bind-attr style=style}}>
  <span {{bind-attr class=":progress-text-sm displayText::sr-only"}}>{{text}}{{#if unit}} {{unit}}{{/if}}</span>
</div>
