<div class="progress">
  <div {{bind-attr class=":progress-bar striped:progress-bar-striped active"}} role="progressbar" {{bind-attr aria-valuenow=value}} {{bind-attr aria-valuemin=min}} {{bind-attr aria-valuemax=max}} {{bind-attr style=style}}>
    <span {{bind-attr class="displayText::sr-only"}}>{{text}}</span>
  </div>
</div>
