<div class="app-list-wrapper">
  <ul class="nav nav-tabs app-tabs" role="tablist">
    <li><a href="#" role="tab" data-toggle="tab" {{action "showModal" 'add-app-modal' false 'body'}}><i class="fa fa-fw fa-plus"></i> Add Application...</a></li>
  </ul>
  <div class="apps list-group">
    {{#each app in content}}
      {{render "app-item" app}}
    {{else}}
      <div class="list-group-item">
        <h2 class="text-center">No apps. Click "Add Application" to add an app. <i class="fa fa-fw fa-rotate-90 fa-mail-reply pull-right"></i></h2>
      </div>
    {{/each}}
  </div>
</div>

{{#bs-modal id="add-app-modal" modal-lg=true dismissible=true title='<h2><i class="fa fa-fw fa-tasks"></i> Add a new Plockity Application</h2>'}}
  <form {{action "createApp" on="submit"}}>
    <div class="modal-body">
      <div class="form-group">
        <label>Give your app a name...</label>
        {{input type="text" class="form-control input-lg input-success" value=appName placeholder="Application Name*"}}
      </div>
      <div {{bind-attr class=":form-group :hide-slide appName:show"}}>
        <label>What domain is your app at?<br /><i class="text-muted"><i class="fa fa-info-circle fa-fw"></i> Please exlude subdomains and ports</i></label>
        {{input type="url" class="form-control input-lg input-success" value=appDomain placeholder="Domain* (ex. mysite.com)"}}
      </div>
      <div {{bind-attr class=":pricing :hide-slide showPlans:show"}}>
        <label>Which plan would you like?</label>
        {{pricing-tables plan=plan}}
        <span class="help-block text-center">Please {{#link-to 'contact'}}contact us{{/link-to}} for higher volume packages.</span>
      </div>
      <div {{bind-attr class=":app-preview :hide-slide appName:show"}}>
        <h2>
          New Plockity App: {{appName}}
          {{#if appDomain}}
            <br /><small><i>{{appDomain}}</i></small>
          {{/if}}
          {{#if plan}}
            <small>{{plan.title}} Plan ({{#if plan.price}}${{plan.price}}/month{{else}}Free{{/if}})</small>
          {{/if}}
        </h2>
        
      </div>
    </div>
    <div class="modal-footer">
      {{#if formStatus}}
        {{#bs-alert type=formStatus.type}}
          <p class="text-center">{{formStatus.msg}}</p>
        {{/bs-alert}}
      {{/if}}
      <button type="submit" class="btn btn-lg btn-success btn-block" {{bind-attr disabled=notAllowSubmit}}>Create App{{#if loading}} <i class="fa fa-fw fa-spin fa-spinner"></i>{{/if}}</button>
    </div>
  </form>
{{/bs-modal}}