<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-lock"></i> Change Your Password</h4>
        </div>
        <div class="panel-body">
          <form {{action "changePassword" on="submit"}}>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {{input type="password" class="form-control" value=newPassword placeholder="Enter Your New Password"}}                  
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{input type="password" class="form-control" value=newPasswordConfirm placeholder="Re-enter Your New Password"}}
                </div>
              </div>
            </div>
            <hr />
            <div class="form-group">
              {{#if passwordSuccess}}
                <p class="text-center text-success"><i class="fa fa-fw fa-check"></i> {{passwordSuccess}}</p>
              {{/if}}
              <button type="submit" class="btn btn-primary btn-block" {{bind-attr disabled=notAllowChangePassword}}>
                Change Password
                {{#if savingPassword}}
                  <i class="fa fa-fw fa-spin fa-spinner"></i>
                {{/if}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-gear"></i> Danger Zone</h4>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <button type="button" class="btn btn-danger btn-block" {{action "cancelAccount"}}>
              <i class="fa fa-fw fa-times"></i> Cancel My Account
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
