<h4>
  {{content.name}}&nbsp;
  <div class="pull-right app-item-controls">
    <a href="#" {{action "toggleProperty" "showingDetails"}}>
      <i {{bind-attr class=":fa :fa-fw showingDetails:fa-angle-up:fa-angle-down showingDetails:active"}}></i>
    </a>
    <a href="#" {{action "toggleProperty" "isEditing"}}>
      <i {{bind-attr class=":fa :fa-fw :fa-edit showingDetails:active"}}></i>
    </a>
  </div>
</h4>

<div {{bind-attr class=":app-item-details :hide-slide showingDetails:show"}}>
  <hr />
  <div class="row">
    {{#with content}}
      <div class="col-md-6">
        <h5>Allowed Domain: {{domain}}</h5>
      </div>
      <div class="col-md-6">
        <h5>Created: {{time-ago time_stamp}}</h5>
      </div>
    {{/with}}
  </div>
</div>

<div {{bind-attr class=":app-item-edit :hide-slide isEditing:show"}}>
  <a href="#" class="close-edit" {{action "cancelEdits"}}><i class="fa fa-fw fa-2x fa-times-circle"></i></a>
  <h3>Editing {{content.name}}...</h3>
  <form class="app-item-edit-form" {{action "saveEdits" on="submit"}}>
    <div class="form-group">
      <label>App name</label>
      {{input type="text" class="form-control input-sm" value=content.name placeholder="Application Name*"}}
    </div>
    <div class="form-group">
      <label>App domain<br /><i class="text-muted"><i class="fa fa-info-circle fa-fw"></i> Please exlude subdomains and ports</i></label>
      {{input type="url" class="form-control input-sm" value=content.domain placeholder="Domain* (ex. mysite.com)"}}
    </div>
    <div class="pricing">
      <label>App plan</label>
      {{pricing-tables plan=content.plan}}
      <span class="help-block text-center">Please {{#link-to 'contact'}}contact us{{/link-to}} for higher volume packages.</span>
    </div>
    {{#if formStatus}}
      {{#bs-alert type=formStatus.type}}
        <p class="text-center">{{formStatus.msg}}</p>
      {{/bs-alert}}
    {{/if}}
    <div {{bind-attr class=":form-group :hide-slide content.isDirty:show"}}>
      <button type="submit" class="btn btn-success btn-block" {{bind-attr disabled=notAllowSubmit}}>Save</button>
    </div>
  </form>
</div>