<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-navbar">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-fw fa-bars"></i>
      </button>
      {{#link-to 'index' class="navbar-brand"}}{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="app-navbar">
      <ul class="nav navbar-nav">

      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if session.authenticated}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello {{session.currentUser.firstName}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>{{#link-to 'account.index'}}Account{{/link-to}}</li>
              <li>{{#link-to 'account.apps'}}Manage Applications{{/link-to}}</li>
              <li class="divider"></li>
              <li><a href="#" {{action "logout"}}>Logout</a></li>
            </ul>
          </li>
          
        {{else}}
          <li><a href="#" {{action "showModal" "login-modal" false 'body'}}>Login</a></li>
        {{/if}}
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="plockity-lock"></div>

{{render "dropin-login"}}