<h2 class="text-center">Button Prototypes</h2>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 text-center">
		<h2><small>Regular Buttons</small></h2>
		<div class="form-group">
			<button class="btn btn-default btn-lg">Button Default</button> 
			<button class="btn btn-primary btn-lg">Button Primary</button> 
			<button class="btn btn-warning btn-lg">Button Warning</button> 
			<button class="btn btn-success btn-lg">Button Success</button> 
			<button class="btn btn-danger btn-lg">Button Danger</button> 
			<button class="btn btn-info btn-lg">Button Info</button> 
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 text-center">
		<div class="form-group">
			<button class="btn btn-default">Button Default</button> 
			<button class="btn btn-primary">Button Primary</button> 
			<button class="btn btn-warning">Button Warning</button> 
			<button class="btn btn-success">Button Success</button> 
			<button class="btn btn-danger">Button Danger</button> 
			<button class="btn btn-info">Button Info</button> 
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 text-center">
		<div class="form-group">
			<button class="btn btn-default btn-sm">Button Default</button> 
			<button class="btn btn-primary btn-sm">Button Primary</button> 
			<button class="btn btn-warning btn-sm">Button Warning</button> 
			<button class="btn btn-success btn-sm">Button Success</button> 
			<button class="btn btn-danger btn-sm">Button Danger</button> 
			<button class="btn btn-info btn-sm">Button Info</button> 
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 text-center">
		<div class="form-group">
			<button class="btn btn-default btn-xs">Button Default</button> 
			<button class="btn btn-primary btn-xs">Button Primary</button> 
			<button class="btn btn-warning btn-xs">Button Warning</button> 
			<button class="btn btn-success btn-xs">Button Success</button> 
			<button class="btn btn-danger btn-xs">Button Danger</button> 
			<button class="btn btn-info btn-xs">Button Info</button> 
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 text-center">
		<h2><small>Open Buttons</small></h2>
		<div class="form-group">
			<button class="btn btn-default btn-lg btn-o">Button Default</button> 
			<button class="btn btn-primary btn-lg btn-o">Button Primary</button> 
			<button class="btn btn-warning btn-lg btn-o">Button Warning</button> 
			<button class="btn btn-success btn-lg btn-o">Button Success</button> 
			<button class="btn btn-danger btn-lg btn-o">Button Danger</button> 
			<button class="btn btn-info btn-lg btn-o">Button Info</button> 
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 text-center">
		<div class="form-group">
			<button class="btn btn-default btn-o">Button Default</button> 
			<button class="btn btn-primary btn-o">Button Primary</button> 
			<button class="btn btn-warning btn-o">Button Warning</button> 
			<button class="btn btn-success btn-o">Button Success</button> 
			<button class="btn btn-danger btn-o">Button Danger</button> 
			<button class="btn btn-info btn-o">Button Info</button> 
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 text-center">
		<div class="form-group">
			<button class="btn btn-default btn-sm btn-o">Button Default</button> 
			<button class="btn btn-primary btn-sm btn-o">Button Primary</button> 
			<button class="btn btn-warning btn-sm btn-o">Button Warning</button> 
			<button class="btn btn-success btn-sm btn-o">Button Success</button> 
			<button class="btn btn-danger btn-sm btn-o">Button Danger</button> 
			<button class="btn btn-info btn-sm btn-o">Button Info</button> 
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 text-center">
		<div class="form-group">
			<button class="btn btn-default btn-xs btn-o">Button Default</button> 
			<button class="btn btn-primary btn-xs btn-o">Button Primary</button> 
			<button class="btn btn-warning btn-xs btn-o">Button Warning</button> 
			<button class="btn btn-success btn-xs btn-o">Button Success</button> 
			<button class="btn btn-danger btn-xs btn-o">Button Danger</button> 
			<button class="btn btn-info btn-xs btn-o">Button Info</button> 
		</div>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <h2><small>Regular w/ icon</small></h2>
    <div class="form-group">
      <button class="btn btn-default btn-lg">Button Default <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-primary btn-lg">Button Primary <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-warning btn-lg">Button Warning <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-success btn-lg">Button Success <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-danger btn-lg">Button Danger <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-info btn-lg">Button Info <i class="fa fa-check fa-fw"></i></button> 
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <div class="form-group">
      <button class="btn btn-default">Button Default <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-primary">Button Primary <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-warning">Button Warning <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-success">Button Success <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-danger">Button Danger <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-info">Button Info <i class="fa fa-check fa-fw"></i></button> 
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <div class="form-group">
      <button class="btn btn-default btn-sm">Button Default <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-primary btn-sm">Button Primary <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-warning btn-sm">Button Warning <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-success btn-sm">Button Success <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-danger btn-sm">Button Danger <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-info btn-sm">Button Info <i class="fa fa-check fa-fw"></i></button> 
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <div class="form-group">
      <button class="btn btn-default btn-xs">Button Default <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-primary btn-xs">Button Primary <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-warning btn-xs">Button Warning <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-success btn-xs">Button Success <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-danger btn-xs">Button Danger <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-info btn-xs">Button Info <i class="fa fa-check fa-fw"></i></button> 
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <h2><small>Open w/ icon</small></h2>
    <div class="form-group">
      <button class="btn btn-default btn-lg btn-o">Button Default <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-primary btn-lg btn-o">Button Primary <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-warning btn-lg btn-o">Button Warning <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-success btn-lg btn-o">Button Success <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-danger btn-lg btn-o">Button Danger <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-info btn-lg btn-o">Button Info <i class="fa fa-check fa-fw"></i></button> 
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <div class="form-group">
      <button class="btn btn-default btn-o">Button Default <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-primary btn-o">Button Primary <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-warning btn-o">Button Warning <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-success btn-o">Button Success <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-danger btn-o">Button Danger <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-info btn-o">Button Info <i class="fa fa-check fa-fw"></i></button> 
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <div class="form-group">
      <button class="btn btn-default btn-sm btn-o">Button Default <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-primary btn-sm btn-o">Button Primary <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-warning btn-sm btn-o">Button Warning <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-success btn-sm btn-o">Button Success <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-danger btn-sm btn-o">Button Danger <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-info btn-sm btn-o">Button Info <i class="fa fa-check fa-fw"></i></button> 
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <div class="form-group">
      <button class="btn btn-default btn-xs btn-o">Button Default <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-primary btn-xs btn-o">Button Primary <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-warning btn-xs btn-o">Button Warning <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-success btn-xs btn-o">Button Success <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-danger btn-xs btn-o">Button Danger <i class="fa fa-check fa-fw"></i></button> 
      <button class="btn btn-info btn-xs btn-o">Button Info <i class="fa fa-check fa-fw"></i></button> 
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<hr />
<div class="form-group text-center">
  <button class="btn btn-primary btn-lg" {{action 'showModal' 'test-modal' false 'body'}}>Launch Modal</button>
</div>
<hr />
<h2 class="text-center">Input Prototypes</h2>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <h2><small>Block Test</small></h2>
    <div class="form-inline">
      {{input type="text" class="form-control input-lg" placeholder="Text Input"}} 
      {{input type="text" class="form-control" placeholder="Text Input"}} 
      {{input type="text" class="form-control input-sm" placeholder="Text Input"}} 
    </div>
    <br />
    <div class="form-inline">
      {{input type="number" class="form-control input-lg" placeholder="Number Input"}} 
      {{input type="number" class="form-control" placeholder="Number Input"}} 
      {{input type="number" class="form-control input-sm" placeholder="Number Input"}} 
    </div>
    <br />
    <div class="form-inline">
      {{view Ember.Select type="text" class="form-control input-lg" prompt="Select Input"}} 
      {{view Ember.Select type="text" class="form-control" prompt="Select Input"}} 
      {{view Ember.Select type="text" class="form-control input-sm" prompt="Select Input"}} 
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <hr />
    <h2><small>Inline Form Test /w regular btn</small></h2>
    <div class="form-inline">
      {{input type="text" class="form-control input-lg" placeholder="First Name"}} {{input type="text" class="form-control input-lg" placeholder="Last Name"}} <button class="btn btn-primary btn-lg">Submit</button>
    </div>
    <br />
    <div class="form-inline">
      {{input type="text" class="form-control" placeholder="First Name"}} {{input type="text" class="form-control" placeholder="Last Name"}} <button class="btn btn-success">Submit</button>
    </div>
    <br />
    <div class="form-inline">
      {{input type="text" class="form-control input-sm" placeholder="First Name"}} {{input type="text" class="form-control input-sm" placeholder="Last Name"}} <button class="btn btn-default btn-sm">Submit</button>
    </div>
    <br />
    <h2><small>Inline Form Test /w open btn</small></h2>
    <div class="form-inline">
      {{input type="text" class="form-control input-lg" placeholder="First Name"}} {{input type="text" class="form-control input-lg" placeholder="Last Name"}} <button class="btn btn-primary btn-lg btn-o">Submit</button>
    </div>
    <br />
    <div class="form-inline">
      {{input type="text" class="form-control" placeholder="First Name"}} {{input type="text" class="form-control" placeholder="Last Name"}} <button class="btn btn-success btn-o">Submit</button>
    </div>
    <br />
    <div class="form-inline">
      {{input type="text" class="form-control input-sm" placeholder="First Name"}} {{input type="text" class="form-control input-sm" placeholder="Last Name"}} <button class="btn btn-default btn-sm btn-o">Submit</button>
    </div>
    <br />
    <h2><small>Inline Form Test /w dark bg</small></h2>
    <div style="background-color:rgba(0,0,0,0.6); padding: 10px;">
      <div class="form-inline">
        {{input type="text" class="form-control input-lg" placeholder="First Name"}} {{input type="text" class="form-control input-lg" placeholder="Last Name"}} <button class="btn btn-primary btn-lg">Submit</button>
      </div>
      <br />
      <div class="form-inline">
        {{input type="text" class="form-control" placeholder="First Name"}} {{input type="text" class="form-control" placeholder="Last Name"}} <button class="btn btn-success">Submit</button>
      </div>
      <br />
      <div class="form-inline">
        {{input type="text" class="form-control input-sm" placeholder="First Name"}} {{input type="text" class="form-control input-sm" placeholder="Last Name"}} <button class="btn btn-default btn-sm">Submit</button>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
{{outlet}}

<div id="test-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>Modal body</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->